<section id="stripe-buttons">
    <button class="stripe-button montserrat" id="pdf-button" data-price="{{ pdfPriceId }}" data-shipping="{{ pdfShipping }}">{{ PDF.text }}</button>
    {% if Print %}
    <button class="stripe-button montserrat" id="print-button" data-price="{{ printPriceId }}" data-shipping="{{ printShipping }}">{{ Print.text }}</button>
    {% endif %}
  </section>