<footer>
    <a href="https://discord.gg/PaAhB7XAs3"><img src="/assets/images/discord.svg" class="logo"></a><a href="https://bsky.app/profile/no-name-games.bsky.social"><img src="/assets/images/bluesky.svg" class="logo"></a>
</footer>