        <section id="nav">
            <img id="nng-logo" src="/assets/images/nng_banner.svg" alt="" srcset="">
            <nav>
            <a href="/">
                <p>Home</p>
            </a>
            <a href="/about">
                <p>About</p>
            </a>
            <a href="/contact">
                <p>Contact</p>
            </a>
            <div class="dropdown">
                <p>DEMIGOD</p>
                <div class="dropdown-content">
                    <a href="/demigod">
                        <p>The Core Rules</p>
                    </a>
                    <a href="/trials-of-herakles">
                        <p>Trials of Herakles</p>
                    </a>
                </div>
            </div>
            <a href="/eleven-bravo">
                <p>Eleven Bravo</p>
            </a>
            <a href="/downloads">
                <p>Downloads</p>
            </a>
            <a href="/blog">
                <p>Blog</p>
            </a>
            </nav>
        </section>