---
permalink: "scripts/variables.js"
---

export default {
  stripe_public_key: "{{ environment.stripe_public_key }}",
  api_url: "{{ environment.api_url }}",
  environment: "{{ environment.environment }}"
};