<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet"  href="/css/main.css" />
  <link rel="icon" type="image/svg+xml" href="/nng_icon.svg" />
  <title>{{ title }}</title>
</head>
<body>
  <section id='about-container'>
      <section id="about-text-container" class='text-container'>
        {% include "menu.html" %}
        {{ content | safe }}
        {% include "footer.html" %}
      </section>
     
    </section>
</body>

</html>