<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ blurb }}">
    <meta property="og:type" content="article">
    <meta property="og:url" content="https://no-name-games.com{{ page.url }}">
    <meta property="og:image" content="https://no-name-games.com{{ coverImage }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <link rel="icon" type="image/svg+xml" href="/assets/images/nng.svg" />
    <link rel="stylesheet"  href="/css/post.css" />
    <link rel="stylesheet"  href="/css/main.css" />
    <title>{{ title }}</title>
</head>
<body>
    <section class="content">
        {% include "menu.html" %}
    </section>
    <section class="content">
        <img src="{{ coverImage }}" alt="" srcset="">
        {{ content | safe }}
    </section>
</body>
</html>