<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://no-name-games.com{{ page.url }}">
    <meta property="og:image" content="https://no-name-games.com{{ coverImage }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet"  href="/css/shop.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/nng_icon.svg" />
    <title>{{ title }}</title>
</head>
<body>
    <section class="text-container">
        {% include "menu.html" %}
        <h1 class="center montserrat">{{ title }}</h1>
        <section class='view-container'>
            <img id='cover-image' src="{{ coverImage }}" />
        </section>
        {{ content | safe }}
        <section id="stripe-buttons">
            <a href="{{ downloadLink }}" target="_blank"><button class="stripe-button montserrat">Download</button></a>
        </section>
    </section>
</body>
</html>