<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:title" content="{{ title }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://no-name-games.com{{ page.url }}">
    <meta property="og:image" content="https://no-name-games.com{{ coverImage }}">
    <meta property="og:site_name" content="{{ site.name }}">
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet"  href="/css/shop.css" />
    <script src="https://js.stripe.com/v3/"></script>
    <link rel="icon" type="image/svg+xml" href="/assets/favicon/nng_icon.svg" />
    <script type="module" src="/scripts/shop.js" defer></script>
    <title>{{ title }}</title>
</head>
<body>
    <section class="text-container">
        {% include "menu.html" %}
        <h1 class="center montserrat">{{ title }}</h1>
        <section class='view-container'>
            <img id='cover-image' src="{{ coverImage }}" />
        </section>
        {{ content | safe }}
        {% if environment.environment == "production" %}
            {% set pdfPriceId = PDF.production.priceId %}
            {% set pdfShipping = PDF.production.shipping %}
            {% if Print %}
                {% set printPriceId = Print.production.priceId %}   
                {% set printShipping = Print.production.shipping %}
            {% endif %}
        {% else %}
            {% set pdfPriceId = PDF.development.priceId %}
            {% set pdfShipping = PDF.development.shipping %}
            {% if Print %}
                {% set printPriceId = Print.development.priceId %}   
                {% set printShipping = Print.development.shipping %}
            {% endif %}
        {% endif %}
        {% include "buttons.html" %}
        <section id="checkout"></section>
    </section>
</body>
</html>