@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&display=swap');

nav {
    max-width: 81%;
}

h2 {
    font-size: 3em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.post-link {
    text-decoration: none;
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    margin: .5em;
}

.blog-posts {
    display: flex;
    flex-wrap: wrap;
}
@media screen and (max-width: 425px) {
}