@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.post-card {
    width: 340px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.post-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.post-info > p {
    height: 5em;
}

.post-image {
    display: block;
    width: 100%;
    border-radius: 5px;
    margin: 0 auto;
}

.post-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2em;
    margin: 0 0.6em 0 0.6em;

}

.post-date {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    font-size: .8em;
    margin-left: 1em;
}