form {
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

input {
    height: 2em;
}

textarea {
    height: 6em;
}

input, textarea {
    background-color: #d1d1d1;
    border: none;
    outline: none;
  }

#submit-button {
    width: 10em;
    height: 4em;
    background-color: black;
    color: white;
}

.form-item {
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}