.center {
    text-align: center;
}

.download-image {
    width: 85%;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.text {
    font-size: 1.5em;
    margin: 0 auto;
    width: 60%;
    height: fit-content;
}

@media screen and (max-width: 475px) {
    a {
        text-align: center;
    }
    .flex {
    flex-direction: column;
   }
   .text {
    font-size: 1.25em;
    text-align: center;
    width: 20em;
   }
    
}