@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Russo+One&display=swap');

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

a, summary {
    text-decoration: none;
    color: black;
}

h1 {
    font-size: 3em;
    font-family: 'Russo One', sans-serif;
}

#nng-logo {
    height: 7em;
    width: auto;
    margin: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 100%;
}
  
p {
font-family: 'Montserrat', sans-serif;
font-size: 2em;
}

footer {
    position: absolute;
    bottom: 0;
    left: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 5vw;
}


.dropdown-content > a > p {
    font-size: 1em;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.flex-row {
display: flex;
flex-direction: row;
justify-content: center;
}

.flex-column {
display: flex;
flex-direction: column;
align-items: center;
}

.logo {
    width: 32px;
    height: 32px;
}

.montserrat {
font-family: 'Montserrat', sans-serif;
}

.text-container {
margin: 0 auto;
max-width: 95%;
position: relative;
width: 1250px;
min-height: 100vh;
}

@media screen and (max-width: 425px) {
    img {
        display: block;
        margin: 0 auto;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }
}