@import url('./body.css');

nav {
    max-width: 100%;
}

.content {
    margin: 0 auto;
    max-width: 95%;
    width: 750px;
}

blockquote {
    text-align: center;
}

p > a {
    text-decoration: none;
    color: black;
    font-size: 1em;
    margin: unset;
    text-decoration: underline;
}

img {
    display: block;
    max-width: 100%;
    width: 750px;
    margin: 1em auto 1em auto;
}

h2 {
     font-size: 3em;
     font-family: 'Poppins', sans-serif;
     text-transform: uppercase;
}

h3 {
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

p {
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
}

li {
    font-size: 2em;
}