#cover-image {
    height: 530px;
}

#payment-form {
    display: none;
}

#stripe-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.center {
    text-align: center;
}

.stripe-button {
    background-color: 	black;
    color: white;
    display: block;
    width: 16em;
    height: 2em;
    margin: 2em 0em 2em 0em;
    font-size: 150%;
}

.shop-list-items {
    font-size: 2em;
    padding: .125em;
}

.view-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
