---
title: Blog
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet"  href="/css/blog.css" />
    <link rel="stylesheet"  href="/css/card.css" />
    <title>{{ title }}</title>
</head>
<body>
        <section class="text-container">
            {% include "menu.html" %}
                {% for year, yearPosts in collections.postsByYear %}
                    <h2>{{ year }}</h2>
                        <section class="blog-posts">
                            {% for post in yearPosts | reverse %}
                                <article class="post-card">
                                    <a href="{{ post.url }}" class="post-link"><img class="post-image" src="{{ post.data.coverImage }}" alt="" srcset=""></a>
                                        <section class="post-info">
                                            <p class="post-text">{{ post.data.blurb }}</p>
                                            <p class="post-date">Posted on {{ post.data.date.toLocaleDateString('en-US') }}</p>
                                            <p class="post-date">{{ post.content | readingTime }}</p>
                                        </section>
                                </article>
                            {% endfor %}
                        </section>
                {%endfor %}
            </section>
        </section>
</body>
</html>