---
title: Contact
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet"  href="/css/contact.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/nng.svg" />
    <title>{{ title }}</title>
</head>
<body>
<section class="text-container"> 
    {% include "menu.html" %}
    <form action="https://formspree.io/f/mgebdzae"
    method="POST">
        <section class="form-item">
            <label htmlFor="first-name">First Name</label>
            <input type='text' name='first-name'/>
        </section>
        <section class="form-item">
            <label htmlFor="last-name">Last Name</label>
            <input type='text' name='last-name'/>
        </section>
        <section class="form-item">
            <label htmlFor="subject">Subject</label>
            <input type='text' name='subject'/>
        </section>
        <section class="form-item">
            <label htmlFor="message">Message</label>
            <textarea name='message'></textarea>
        </section>
        <section class="form-item flex-row">
            <button id="submit-button">Submit</button>
        </section>
    </form>
</section>
</body>
</html>