---
title: Downloads
othismos: /assets/images/Othismos.svg
thermopylae: /assets/images/BattleOfTheHotGates.svg
download: /assets/images/hero_sheet_download_image.svg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet"  href="/css/downloads.css" />
    <link rel="icon" type="image/svg+xml" href="/assets/images/nng.svg" />
    <title>{{ title }}</title>
</head>
<body>
    <section>
            <section class="text-container">
                    {% include "menu.html" %}
                    <h1 class="center montserrat">Downloads</h1>
                    <article class="flex">
                        <a href="./a4_hero_sheet.pdf" download><img class="download-image" src="{{ download}}" /></a>
                        <p class="text">A4-sized hero sheet for use with DEMIGOD. Click the icon to download.</p>
                    </article>
                    <article class="flex">
                        <a href="./othismosbleed.pdf" download><img class='download-image' src="{{ othismos }}" /></a>
                        <p class='text'><em>Othismos</em> is a simple scale-agnostic (anything from 10mm-28mm works) mass-battle ruleset for fighting conflicts in the ages before gunpowder. Click the icon to download.</p>
                    </article>
                    <article class="flex">
                        <a href="./othismos-thermopylae.pdf" download><img class='download-image' src="{{ thermopylae }}" /></a>
                        <p class='text'><em>Battle at the Hot Gates</em> puts you in the commander's sandals of one of the most famous last stands of history. Click the icon to download.</p>
                    </article>
                    {% include "footer.html" %}
            </section>
        </section>
</body>
</html>