---
title: Thanks for your purchase!
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/css/main.css" />
    <link rel="stylesheet"  href="/css/contact.css" />
    <title>{{ title }}</title>
    <link rel="icon" type="image/svg+xml" href="/nng_icon.svg" />
</head>
<body>
<section class="text-container"> 
    {% include "menu.html" %}
    <article>
        <p>Thanks so much for supporting No Name Games! If you purchased a PDF, you should receive an email in the next couple minutes. If you purchased a print copy, it'll be in the mail soon. Please <a href="mailto:chris@no-name-games.com">email me</a> if you have any issues.</p>
    </article>
</section>
</body>
</html>